# PDF SLR - Horton et al.
Horton, B.P., Khan, N.S., Cahill, N. et al. Estimating global mean sea-level rise and its uncertainties by 2100 and 2300 from an expert survey. npj Clim Atmos Sci 3, 18 (2020). https://doi.org/10.1038/s41612-020-0121-5
### Draw sea level rise projections from probability density functions

In [1]:
import numpy as np
import os
import pandas as pd
from pathlib import Path

In [2]:
p = Path().absolute() / 'Horton_PDFs' #move to subfolder with pathlib
files = list(p.glob("*.csv")) #open all csv-files in this folder

for file in files:
    pass

In [3]:
file = files[0]
file

WindowsPath('D:/Python/Urban-SETP/SLR_projections/Horton_PDFs/rsl_pred_SurveyH14_Blue_2100.csv')

In [4]:
df = pd.read_csv(file,index_col=0)
df.index = df.index/1000 #convert to probability [0.001,1]
df.value = df.value/100 #convert to cm
df

          value
name
0.001  0.054063
0.002  0.068623
0.003  0.078123
0.004  0.085309
0.005  0.091256
...         ...
0.996  1.325282
0.997  1.364257
0.998  1.415482
0.999  1.492232
1.000  1.642124

[1000 rows x 1 columns]